body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    ;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* Navbar container */

.navbar {
    opacity: 0.85;
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input {
    width: 20px;
}

/* The dropdown container */

.dropdown {
    float: left;
    overflow: hidden;
    z-index: 5;
}

/* Dropdown button */

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.mapboxgl-ctrl-top-right {
    top: 50px;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
}

.legend {
    background-color: #fff;
    border-radius: 3px;
    top: 55px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
    font-size: 12px;
}

.mode {
    background-color: #fff;
    border-radius: 3px;
    top: 55px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: absolute;
    right: 200px;
    z-index: 1;
    font-size: 12px;
}

.marker-occupied {
    background-image: url("../assets/red_circle.png");
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-vacant {
    background-image: url("../assets/green_circle.png");
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-notavailable {
    background-image: url("../assets/yellow_circle.png");
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 400px;
    line-height: 15px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.mapboxgl-ctrl-geocoder {
    top: 40px;
}